#contextMenu {
    position: fixed;
    display: none;
    overflow-y: auto;
    width: 125px;
    box-shadow: 0 1px 1px #888, 1px 0 1px #ccc;
    z-index: 999;
    background-color: #EEEEEE;
    padding: 0;
}

#contextMenu ul {
    padding: 0;
    margin: 0;
}

#contextMenu ul li {

    margin-top: -1px;
    line-height: 30px;
    border: 1px solid #eee;
    text-align: center;
    list-style: none;
}

#contextMenu ul li:hover {
    background: #ccc;
    cursor: default;
    user-select: none;
}