<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap/bootstrap.min.css" th:href="/resources/static/css/bootstrap/bootstrap.min.css"
          rel="stylesheet">
    <link href="../static/css/fontawesome/v5.11.2/all.min.css"
          th:href="/resources/static/css/fontawesome/v5.11.2/all.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-table/bootstrap-table.min.css"
          th:href="/resources/static/css/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../static/css/jQuery-Growl/jquery.growl.css"
          th:href="/resources/static/css/jQuery-Growl/jquery.growl.css" rel="stylesheet">
    <link href="../static/css/ztree/zTreeStyle.css"
          th:href="/resources/static/css/ztree/zTreeStyle.css" rel="stylesheet">

    <title>zk树查看</title>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header"></div>
            <div class="box-body">
                <table id="zkList"></table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <ul class="zTree">

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/lib/jquery/jquery-3.4.1.min.js"
        th:src="@{/resources/static/lib/jquery/jquery-3.4.1.min.js}"></script>
<script src="../static/lib/ztree/jquery.ztree.all.min.js"
        th:src="@{/resources/static/lib/ztree/jquery.ztree.all.min.js}"></script>
<script src="../static/lib/bootstrap/bootstrap.min.js"
        th:src="@{/resources/static/lib/bootstrap/bootstrap.min.js}"></script>
<script src="../static/lib/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/resources/static/lib/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="../static/lib/jQuery-Growl/jquery.growl.js"
        th:src="@{/resources/static/lib/jQuery-Growl/jquery.growl.js}"></script>

<script src="../static/script/index.js" th:src="@{/resources/static/script/index.js}" type="module"></script>

</html>