<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/css/fontawesome/v5.11.2/all.min.css"
          rel="stylesheet" th:href="@{/css/fontawesome/v5.11.2/all.min.css}">
    <link href="../static/css/bootstrap-table/bootstrap-table.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap-table/bootstrap-table.min.css}">
    <link href="../static/css/bootstrap3-dialog/1.34.7/bootstrap-dialog.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap3-dialog/1.34.7/bootstrap-dialog.min.css}">
    <link href="../static/css/ztree/zTreeStyle.css"
          rel="stylesheet" th:href="@{/css/ztree/zTreeStyle.css}">
    <link href="../static/lib/jquery/jquery-message/1.0.0/jquery-message.css" rel="stylesheet"
          th:href="@{/lib/jquery/jquery-message/1.0.0/jquery-message.css}">
    <link href="../static/css/index.css" rel="stylesheet"
          th:href="@{/css/index.css}">
    <title>zk树查看</title>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header"></div>
            <div class="box-body">
                <table id="zkList"></table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <ul class="zTree" id="zTree">

                </ul>
            </div>
        </div>
    </div>
</div>
<div id="contextMenu">
    <ul>
        <li id="addChildNode">添加节点</li>
        <li id="deleteCurNode">删除节点</li>
        <li id="copyAbsolutePath">复制路径</li>
    </ul>
</div>
</body>
<script src="../static/lib/jquery/jquery-3.4.1.min.js"
        th:src="@{/lib/jquery/jquery-3.4.1.min.js}"></script>
<script src="../static/lib/ztree/jquery.ztree.all.min.js"
        th:src="@{/lib/ztree/jquery.ztree.all.min.js}"></script>
<script src="../static/lib/bootstrap/bootstrap.min.js"
        th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
<script src="../static/lib/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/lib/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="../static/lib/bootstrap-dialog/bootstrap-dialog.js"
        th:src="@{/lib/bootstrap-dialog/bootstrap-dialog.js}"></script>
<script src="../static/lib/jquery/jquery-message/1.0.0/jquery-message.js"
        th:src="@{/lib/jquery/jquery-message/1.0.0/jquery-message.js}"></script>

<script src="../static/script/index.js" th:src="@{/script/index.js}" type="module"></script>

</html>